cat << EOF
# Redmine
redminedb:
  image: sameersbn/postgresql:${VERSION_POSTGRESQL}
  env_file:
    - ./.env
  environment:
    - DB_USER=${REDMINE_DB_USER}
    - DB_PASS=${REDMINE_DB_PASS}
    - DB_NAME=${REDMINE_DB_NAME}

redmine:
  image: sameersbn/redmine:${VERSION_REDMINE}
  env_file:
    - ./.env
  dns: 172.17.42.1
  environment:
    - SMTP_ENABLED=${REDMINE_SMTP_ENABLED}
  links:
    - redminedb:postgresql
  volumes_from:
    - gitlab

EOF
