cat << EOF
# LDAP
ldap:
  image: xpfriend/openldap:${VERSION_OPENLDAP}
  env_file:
    - ./.env
  environment:
    - USE_TLS=false
  ports:
    - "${LDAP_PORT}:389"

user:
  image: osixia/phpldapadmin:${VERSION_PHPLDAPADMIN}
  env_file:
    - ./.env
  links:
   - ldap:ldap
  environment:
    - LDAP_HOSTS=ldap
    - HTTPS=false

EOF
