cat << EOF
# LDAP
ldap:
  image: osixia/openldap:${VERSION_OPENLDAP}
  env_file:
    - ./.env
    - ./service-names.env
  environment:
    - USE_TLS=false

user:
  image: osixia/phpldapadmin:${VERSION_PHPLDAPADMIN}
  env_file:
    - ./.env
    - ./service-names.env
  links:
   - ldap:ldap
  environment:
    - LDAP_HOSTS=ldap
    - HTTPS=false

EOF
