cat << EOF
# LDAP
ldap:
  image: osixia/openldap:${VERSION_OPENLDAP}
  env_file:
    - ./.env
  environment:
    - LDAP_TLS=false
    - LDAP_LOG_LEVEL=256
  ports:
    - "${LDAP_PORT}:389"

user:
  image: osixia/phpldapadmin:${VERSION_PHPLDAPADMIN}
  env_file:
    - ./.env
  links:
   - ldap:ldap
  environment:
    - PHPLDAPADMIN_LDAP_HOSTS=ldap
    - PHPLDAPADMIN_HTTPS=false
  volumes:
    - /var/log

EOF
