cat << EOF
# LDAP
ldap:
  image: osixia/openldap:1.1.3
  env_file:
    - ./.env
  environment:
    - LDAP_TLS=false
    - LDAP_LOG_LEVEL=256
  ports:
    - "${LDAP_PORT}:389"
  volumes:
    - ./volumes/user:/tools
    - /var/lib/ldap
    - /etc/ldap/slapd.d

user:
  image: xpfriend/pocci-account-center:1.0.28
  env_file:
    - ./.env
  links:
   - ldap:${LDAP_HOST}
  restart: always

EOF
