cat << EOF
# nginx
nginx:
  image: nginx:${VERSION_NGINX}
  env_file:
    - ./.env
  dns: ${DNS_ADDRESS}
  links: [ ${POCCI_PUBLIC_CONTAINERS} ]
  volumes:
   - ./nginx:/etc/nginx/conf.d
  ports:
    - "80:80"

EOF
