cat << EOF
__NAME:
  __IMAGE
  volumes:
    - /tmp
    - /var/jenkins_home
    - ${CONFIG_DIR}/.ssh:/tmp/user_home/.ssh
  labels:
    com.xpfriend.pocci.backup-ignore: "/tmp"
  env_file:
    - ./.env
  dns: ${DNS_ADDRESS}
  environment:
    - JENKINS_SLAVE_SECRET=__SECRET
    - JENKINS_URL=${JENKINS_URL}
    - NODE_NAME=__NAME

EOF
