cat << EOF
server {
    listen       80 ${DEFAULT_SERVER};
    server_name  ${GITLAB_HOST} gitlab gitlab.*;
    client_max_body_size 20M;

    proxy_set_header X-Real-IP        \$remote_addr;
    proxy_set_header X-Forwarded-For  \$proxy_add_x_forwarded_for;
    proxy_set_header Host             \$host;

    #location = / {rewrite ^ ${GITLAB_TOP_PAGE};}
    location / {
        proxy_pass http://gitlab;
    }
}
EOF
